<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Name of the contact</h2>
        <div class="row">
            <div class="col-xs-6">

                <img src="#" alt="">
            </div>
            <div class="col-xs-6 text-right">
                <div class="btn btn-primary">
                    Edit
                </div>
                <div class="btn btn-danger">
                    Delete
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p>
            <strong>Email:</strong>
        </p>
        <p>
            <strong>Phone:</strong>
        </p>
    </div>
</div>
