

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
              <h2>All Contacts</h2>
            </div>
            <div class="col-xs-6 text-right">
              <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <cms-contact-item *ngFor="let contact of contacts" [contact]="contact"></cms-contact-item>
            </div>
        </div>
    </div>
</div>